
.overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--full-viewport-height);
    background-image: url('../../images/login-registration-overlay.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.overlay-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}